@media only screen and (max-width: 768px){
@import '../assets/styles/animations';
    .contacto{
            grid-template-columns: repeat(auto-fit,100%) !important;
            .contacto_form{
                h1{
                    font-size:1.7rem !important;
                }
                h4{
                    font-size:1rem !important;
                    margin-right:2vh;
                }
                .contacto_form_inputs{
                    form{
                        .input_inline{
                            flex:1 1 100%; 
                        }
                    }
                }
            }
            .contacto_img{
                padding-top: 0vh !important;
                padding-bottom:2vh !important;
                order:-1;
                img{
                    width:95% !important;
                    margin-left:2.5% !important;
                }
            }
    }
}
.contacto{
    color:white;
    display: grid;
    grid-template-columns: repeat(auto-fit,50%);

    padding-top:6vh;
    
    .contacto_form{
        display: grid;
        grid-template-columns: repeat(auto-fit, 100%);
        // grid-gap: 20%;
        h1{
            margin:0%;
            margin-left:5% !important;
            font-size: 2.6rem;
            // text-align:justify;
        }
        h4{

            font-weight:200;
            margin-left:5%;
            font-size: 1.2rem;
            text-align:justify;
        }
        .contacto_form_inputs{
            form{
                display:flex;
                flex-wrap:wrap;
                .input_inline{
                    border-width: thin;
                   margin-bottom:5vh; 
                   flex:1 1 35%; 
                   font-size:1.2rem;
                   margin-left:5%;
                   margin-right:5%;
                   background-color: black;
                   color:white;
                   border-top:none;
                   border-left:none;
                   border-right:none;
                   padding:4px;
                }
                .input_block{
                   flex:1 1 100%; 
                   height:20vh;
                   font-size:1.2rem;
                   margin-left:5%;
                   margin-right:5%;
                   background-color: black;
                   color:white;
                   padding:4px;
                   border-width: thin;
                }
                .loadingsvg{
                    height: 2vh;
                    
                    margin-left:3%;
                    flex:0 1 auto;
                    width:auto;
                    margin-top:3.5vh;
                }
                .inputbtn{
                    flex:0 1 auto;
                    background: #3d5afe;
                    color:white;
                    padding:1%;
                    width:auto;
                    font-size:1rem;
                    margin-left: 5%;
                    margin-top:5vh;
                    border:none;
                    border-radius:30px;
                }
            }
        }

    }

    .contacto_img{
        padding-top:12vh;        

        img{
            width:70%;
            margin-left:15%;
            border-radius:30px;
        }
    }
}