@import '../assets/styles/animations';



@media only screen and (max-width: 767px){
    .navbar{
        .navbar_brand{
            h1{
                padding-left:3vh !important;
            }
        }
        .navbar_links{
            width:60% !important;
            a{
                flex: 1 1 20% !important;
                font-size:0.8rem;
            }
            .navbar_button{
                font-size:0.8rem;
                flex: 1 1 20% !important;
            }
        }
    }
}

.navbar{
    display: grid;
    background-color: black;
    color:white;        
    grid-template-columns: repeat(auto-fit, 600px);
    .navbar_brand{
    
        font-size:0.8rem;
        font-weight: 300;
        h1{
            padding-left: 5vh;
            text-align: start;
            width:100%
        }
    }

    .navbar_spacer{
        width:100%;
    }

    .navbar_links{
        width: 100%;
        display:flex;
        align-items: flex-end;
        align-content: flex-end;
        padding-bottom:3%;
        font-size:1rem;
        font-weight: 200;
        a {
          text-decoration: none;
          text-align:center;
          color:white;
          flex: 0 1 100%;
          &:hover {
            text-decoration:underline;
          }
        }
        .navbar_button{
            
            padding: 5px;
            margin-left:5%;
            text-align: center;
            flex:0 1 70%;
            border-radius: 3px;
            background: #3d5afe;
            color:white;
            border:none;
            &:active{
                background: linear-gradient(to bottom, #0050cb, #007bff);
            }
        }   
    }
}