@import '../assets/styles/animations';

@media only screen and (max-width: 1000px){
    .about{
        grid-template-columns: repeat(auto-fit, 100%) !important;
        padding:0vh !important;
        padding-left: 3vh !important;
        .about_description{
            padding-top:0vh !important;
            ul{
                li{
                    font-weight: normal;
                }
            }
        }
        .about_skills{

            padding-top:0vh !important;
            width:95%;
            h1{
                font-size: 1.5rem;
            }
            h3{
                font-size: 0.9rem;
                text-align: justify !important;
                padding-bottom: 0vh !important;
            }
            .about_skills_icons{
                .icon{
                    font-size: 1rem;
                    small{
                        font-size: 1.5rem !important;
                    }
                }
            }
        }
    }
}
.about{
    display: grid;
    grid-template-columns: repeat(auto-fit, 50%);
    background-color: linear-gradient(180deg, transparent,black);
    .about_description{

    padding-top:10vh;
        width:95%;
        display:grid;
        grid-template-columns: repeat(auto-fit, 100%);

            margin:0px !important;
        h1{
            width:100%;
            color:white;
            font-weight:bold;
        } 
        h2{
            width:100%;
            color:white;
            font-weight:bold;
        }

        h4{
            width:100%;
            color:white;
            text-align:justify;
            font-weight:bold;
        }
        ul{
            li{
                color:white;
                width:100%;
                font-weight: bold;
                
            }
        }
        
    }
    .about_skills{

    padding-top:10vh;
        display:grid;
        grid-template-columns: repeat(auto-fit, 100%);
        
        h1{
            width:100%;
            color:white;
                text-align:center;
                font-weight:bold;
        }
        h3{
            width:100%;
            color:white;
            text-align:center;
            font-weight:bold;
            padding-bottom: 5vh;
        }
        .about_skills_icons{
            width:100%;
            display:grid;
            grid-template-columns: repeat(auto-fit, 25%);
            .icon{
                text-align:center;
                font-size:5em;
                color:white;
                small{

                    font-size:2.5rem;
                }
            }
        }
    }
}