@import './assets/styles/mixins';
@media only screen and (max-width: 767px){
    .container{
        height: 200vh !important;
    }
    .container2{
        height: 50vh !important;
    }
}
.container{
    @include gradient(#e66465,#9198e5);
    // background: rgba(0, 0, 0, 0.5); /* Green background with 30% opacity */
    height: 100vh;
    width: 100%;
    bottom: 70%;
    background-position-y:40%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
}

.container2 {
    height: 20vh;
    background: black;
}


.footer {
    position: absolute;
    display:flexbox;

    p {
        margin-top:70% !important;
        width:100%;
        color:white;
        padding-left:5vh;
    }
}
